<main class="profile">
  <section class="user">
    <div class="user__top">
      <img class="user__img" src="{{user.pictureUrl}}" alt="">
      <a href="/edit-profile" >Edit profile</a>
    </div>
    <h1>{{user.username}}</h1>
    <p>{{user.bio}}</p>
    
  </section>
  
  <section class="profile__selector">
    <button id="btn-my-quotes" class="selected">My quotes</button>
    <button id="btn-fav-quotes" class="not-selected">Fav quotes</button>
  </section>
  <section class="profile__my-quotes">
    {{#each quotes}}
      <div class="quote-card">
        <p>{{this.text}}</p>
        <span>Likes {{this.likes.length}}</span>
      </div>
    {{/each}}
  </section>
  <section class="profile__fav-quotes">
    {{#each userFav}}
    <div class="quote-card">
      <p>{{this.text}}</p>
      <p class="quote-card__info__username">{{this.username}}</p>
      <span>Likes {{this.likes.length}}</span>
    </div>  
    {{/each}}
  </section>
  {{>navbar}}
</main>

<script>
  let btnMyQuotes = document.querySelector('#btn-my-quotes');
  let btnFavQuotes = document.querySelector('#btn-fav-quotes');
  let MyQuotesDiv = document.querySelector('.profile__my-quotes');
  let MyFavQuotesDiv = document.querySelector('.profile__fav-quotes');

  btnMyQuotes.addEventListener('click', () => {
    MyQuotesDiv.style.display = 'block';
    MyFavQuotesDiv.style.display = 'none';
    btnMyQuotes.classList.remove("not-selected");
    btnMyQuotes.classList.add("selected");
    btnFavQuotes.classList.remove("selected");
    btnFavQuotes.classList.add("not-selected");
  });
  btnFavQuotes.addEventListener('click', () => {
    MyQuotesDiv.style.display = 'none';
    MyFavQuotesDiv.style.display = 'block';
    btnFavQuotes.classList.remove("not-selected");
    btnFavQuotes.classList.add("selected");
    btnMyQuotes.classList.remove("selected");
    btnMyQuotes.classList.add("not-selected");
  });
</script>