<div class="quote-card">
  <p>{{this.text}}</p>
  <div class="quote-card__info">
    <p class="quote-card__info__username">{{this.author.username}}</p>
    <div class="quote-card__info__actions">
      <form class="like-form" action="/home/like?_id={{this._id}}" method="POST">
        <input type="text" value='{{this._id}}' style="display:none">
        <span class="likes-text">{{this.likes.length}}</span>
        
          <button id="like-btn" type="submit">
            {{#if this.likeStatus}}
              <img src="/images/dislike.png" alt="">
            {{else}}
              <img src="/images/like.png" alt="">
            {{/if}}
          </button> 
      </form>
      <form class="fav-form" action="/home/fav?_id={{this._id}}" method="POST">
        <input type="text" value='{{this._id}}' style="display:none">
        <button id="fav-btn" type="submit">
          {{#if this.favStatus}}
            <img src="/images/remove-fav.png" alt="">
          {{else}}
            <img src="/images/add-fav.png" alt="">
          {{/if}}
          
        </button>
      </form>
    </div>
  </div>
</div>

